.menu.navbar .navbar-item
{
  margin: 0.25rem;
  padding: 0.25rem;
  font-size: 0.8rem;
}

.menu.navbar .navbar-item:hover
{
  background: #f0f0f0;
}

.menu.navbar a.navbar-item.is-active:hover,
.menu.navbar a.navbar-item.is-active,
.menu.navbar a.navbar-item.is-active:not(:hover),
.menu.navbar a.navbar-link.is-active:not(:hover)
{
  background: #e0e0e0;
  color: #1d1d1d;
}

.navbar.is-light .navbar-item.has-dropdown.is-active .navbar-link,
.navbar.is-light .navbar-item.has-dropdown:hover .navbar-link
{
  background: transparent;
}

.menu.navbar .navbar-item a.navbar-link:hover
{
  background: transparent;
  color: black;
}

.menu.navbar .navbar-item a.navbar-link
{
  padding: 0;
}

.navbar-link::after
{
  content: '';
  border: 0;
}

.menu.navbar .navbar-dropdown a.navbar-item
{
  margin: 0;
  padding: 0.25rem 0.75rem;
}

.menu.navbar .navbar-dropdown a.navbar-item
{
  display: flex;
  justify-content: space-between;
}

.menu.navbar .navbar-dropdown a.navbar-item .action
{
  margin-right: 3rem;
}

.menu.navbar .navbar-dropdown a.navbar-item .shortcut
{
  color: #aaa;
}

.menu.navbar .navbar-dropdown a.navbar-item.is-disabled
{
  opacity: 0.2;
  pointer-events: none;
}

.menu.navbar .navbar-dropdown.is-boxed
{
  border-radius: 0;
}
