html
{
  overflow: hidden;
  background: #eee;
}

.button
{
  margin-right: 5px;
}

.navbar.is-light
{
  height: 37px;
  min-height: 37px;
  background: #fff;
  border-bottom: 1px solid #e0e0e0;
  color: rgba(0,0,0,.7)
}

.navbar-separator
{
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  border-right: 1px solid #e0e0e0;
}

a.navbar-item.is-active:hover,
a.navbar-item.is-active,
a.navbar-item.is-active:not(:hover),
a.navbar-link.is-active:not(:hover)
{
  background: #e0e0e0;
  color: #1d1d1d;
}

a.navbar-item.is-active,
a.navbar-item:hover
{
  background: #f0f0f0;
  color: #1d1d1d;
}

.DraftEditor-root
{
  width: 100%;
  min-height: 200px;
  padding: 0;
  resize: vertical;
  overflow: auto;
  resize: none;
  height: calc(100vh - 108px);
  overflow-y: scroll;
}

.public-DraftEditor-content
{
  min-height: 200px;
}

.DraftEditor-editorContainer
{
  min-width: 990px;
  max-width: 990px;
  margin: auto;
  box-sizing: content-box;
}

.public-DraftEditor-content::before
{
  content: "";
  width: 100%;
  display: block;
  height: 1rem;
}

.public-DraftEditor-content > div
{
  background: white;
  padding: 70px;
  margin-bottom: 2rem;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.markdown-editor
{
  font-family: merriweather;
}

.markdown-editor h1:first-child,
.markdown-editor h2:first-child,
.markdown-editor h3:first-child,
.markdown-editor h4:first-child,
.markdown-editor h5:first-child,
.markdown-editor h6:first-child
{
  margin-top: 0;
}

.markdown-editor
{
  font-size: 12px;
}

/* Title */

.markdown-body
{
  font-family: merriweather;
  text-align: justify;
  font-size: 11pt;
}

.markdown-body h1
{
  font-family: montserrat;
  color: #b30000;
  font-weight: 700;
  font-size: 18pt;
  margin-top: 10pt;
  margin-bottom: 10pt;
}

.markdown-body h2
{
  font-family: montserrat;
  color: #b30000;
  font-weight: 600;
  font-size: 14pt;
  margin-top: 14pt;
  margin-bottom: 10pt;
}

.markdown-body h3
{
  font-family: montserrat;
  color: #666666;
  font-weight: 500;
  font-size: 14pt;
  margin-top: 14pt;
  margin-bottom: 10pt;
}

.markdown-body h4
{
  font-family: montserrat;
  color: #666666;
  font-weight: 500;
  font-size: 12pt;
  margin-top: 6pt;
  margin-bottom: 3pt;
}

.markdown-body h5
{
  font-family: montserrat;
  color: #666666;
  font-weight: 400;
  font-size: 12pt;
  margin-top: 6pt;
  margin-bottom: 3pt;
}

.markdown-body h6
{
  font-family: montserrat;
  color: #666666;
  font-weight: 200;
  font-size: 12pt;
  margin-top: 6pt;
  margin-bottom: 3pt;
}

.markdown-body pre
{
  font-family: inconsolata;
  color: #666666;
  font-weight: 100;
  font-size: 11pt;
  padding: 10pt;
  margin: 0;
  margin-bottom: 10pt;
}

.markdown-body pre pre
{
  padding: 0;
  margin: 0;
}

.markdown-body pre div
{
  margin-bottom: 0;
}

.markdown-body blockquote
{
  color: #666666;
  font-weight: 300;
  font-size: 11pt;
  margin: 0;
  border-left: 5px solid #efefef;
  padding-left: 1rem;
}

.markdown-body blockquote + blockquote
{
  margin-top: -10pt;
}

.markdown-body blockquote
{
  margin-bottom: 10pt;
}

.public-DraftStyleDefault-ltr
{
  text-align: justify;
  margin-bottom: 10pt;
}

.markdown-body ul li div,
.markdown-body ol li div
{
  margin-bottom: 0pt;
}

.has-changed
{
  color: #b30000;
}

.tabs li.is-active a
{
  color: #b30000;
}

.tabs.is-boxed a
{
  border-radius: 0;
}

.tabs,
.navbar
{
  font-size: 0.8rem;
}

.navbar .navbar-item
{
  margin: 0.25rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
}

.tabs:not(:last-child)
{
  margin-bottom: 0;
}
